
body{
  font-family: Arial, sans-serif;  
  line-height:1.6;
  margin: 0;
  padding: 0;
}

header, nav, footer{
      background-color: #f4f4f4;
      padding:1rem;
}
     nav ul{
        list-style:none;
        padding: 0;
        display: flex;
        gap: 1rem;
     }
nav a {
    text-decoration: none ;
    color: #333;

}

main{
    padding: 2rem;
}
.changelog-entry{
    margin-bottom:2rem;
}
.changelog-entry h3{
    margin-bottom: 0.5rem;
    color: #2c3e50;
}
.changelog-entry ul{
    margin: 0;
    padding-left: 1.2rem;
}
.label{
    font-weight: bold;
}





.depoimentos{
  background-color: #f9f9f9;
  padding: 1rem;
  text-align: center;
}

.depoimentos h4{
  font-size: 1rem;
  margin-bottom: 1rem;
  
}

.cards-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:1.5rem;
}

.card{
  background-color:white;
  border: 1px solid #ddd;
  border-radius:12px;
  padding:1rem;
  max-width:300px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.25 ease;
}


       .card:hover{
        transform:translateY(-5px);
       } 
         .card p{
          font-style: italic;
         }
.card h4{
  font-weight:normal;
}


@media (max-width: 768px){
  .cards-container{
    flex-direction: column;
    align-items:center;
  }
}
